{{define "_sidebar"}}

    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="public/images/icon/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-calendar"></i><span>Event Master</span></a>
                            <ul class="collapse">
                                <li><a href="#">Event Requested</a></li>
                                <li><a href="/event-groups">Event Group</a></li>
                                <li><a href="/events">Events</a></li>
                                <li><a href="#">Assignments</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Photographer Management</span></a>
                            <ul class="collapse">
                                <li><a href="#">General Data</a></li>
                                <li><a href="#">Detail Data</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pulse"></i><span>Equipment Management</span></a>
                            <ul class="collapse">
                                <li><a href="#">Tool List</a></li>
                                <li><a href="#">Loaning</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="ti-settings"></i><span>Commerse Setting</span></a>
                        </li>
                        <li>
                            <a href="/teams"><i class="ti-user"></i><span>Team Master</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>User CMS Management</span></a>
                            <ul class="collapse">
                                <li><a href="/roles">User Role</a></li>
                                <li><a href="#">Role Access Control</a></li>
                                <li><a href="/users">User Data</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Customer Management</span></a>
                            <ul class="collapse">
                                <li><a href="#">Data List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-wand"></i><span>Others</span></a>
                            <ul class="collapse">
                                <li><a href="/tagging-types">Tagging Type</a></li>
                                <li><a href="/taggings">Tagging Master</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->

{{end}}